{% extends 'base.html' %}

{% block content %}

<h2>{{ title }}</h2>

<table>
    <tr>
        {% for row_title in the_row_titles %}
            <th>{{row_title}}</th>
        {% endfor %}
    </tr>
    {% for supplier in the_data %}
        <tr>
            <td>{{supplier.name}}</td>
            <td>{{supplier.address}}</td>
            <td>{{supplier.contact}}</td>
            <td><a href="{{ url_for('supplier', suppliername=supplier.name) }}">Visualizar transações</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
