{% extends 'base.html' %}

{% block app_content %}

<h2>{{ title }}</h2>

<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Contato</th>
        <th>Produtos</th>
    </tr>
    {% for supplier in the_data %}
        <tr>
            <td>{{supplier.name}}</td>
            <td>{{supplier.address}}</td>
            <td>{{supplier.contacts}}</td>
            <td>
                {% for item in supplier.portfolio|sort(attribute='name') %}
                    {{ item.name }} <br>
                {% endfor %}
            </td>
            <td><a href="{{ url_for('detail_supplier', supplierid=supplier.id) }}">Visualizar Detalhes</a></td>
            <td><a class="btn btn-primary" href="{{ url_for('edit_supplier', supplierid=supplier.id) }}">Editar</a></td>
            <td><a class="btn btn-danger" href="{{ url_for('delete_supplier', supplierid=supplier.id) }}">Deletar</a></td>
        </tr>
    {% endfor %}
</table>


{% endblock %}
