{% extends "base.html" %}

{% block app_content %}

<h1> Produtos cadastrados </h1>


<table class="table table-hover">
    <tr>
        <th>Produto</th>
        <th>Fornecedores</th>
    </tr>
    {% for item in items|sort(attribute='name') %}
        <tr>
            <td>{{item.name}}</td>

            <td>
                {% for supplier in item.suppliers|sort(attribute='name') %}
                <a href="{{ url_for('detail_supplier', suppliername=supplier.name) }}">{{ supplier.name }}</a> <br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
