{% extends "base.html" %}

{% block app_content %}

<h1> Produtos cadastrados </h1>


<table class="table table-hover">
    <tr>
        <th>Produto</th>
        <th>Fornecedores</th>
    </tr>
    {% for item in items|sort(attribute='name') %}
        <tr>
            <td>{{item.name}}</td>

            <td>
                {% for supplier in item.suppliers|sort(attribute='name') %}
                    {% if supplier.is_active() %}
                        <a href="{{ url_for('detail_supplier', supplierid=supplier.id) }}">{{ supplier.name }}</a> <br>
                    {% endif %}
                {% endfor %}
            </td>

            <td>
                <a class="btn btn-danger" href="{{ url_for('delete_item', itemid=item.id) }}">Deletar</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
