{% extends "base.html" %}

{% block content %}
    <h1>Cadastrar</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.company }}<br>
            {% for error in form.company.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.products.label }}<br>
            {{ form.products }}<br>
            {% for error in form.products.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}