{% extends "base.html" %}

{% block app_content %}

<h1> {{ title }}</h1>

<hr>
<h2>Fornecedor: {{ supplier.name }} </h2>
<hr>

<style>
  table td input {
    width: 100%;
}
</style>

<div>
    <form action="" method="post">

      {# http://flask.pocoo.org/snippets/3/ #}
      {{ form.hidden_tag() }}
        <div class="container">
            <table class="table">
              <thead>
                <tr>
                    <th style="width:70%"> Nome </th>
                    <th style="width:10%"> Quantidade </th>
                    <th style="width:10%"> Unidade </th>
                    <th style="width:10%"> Preço unitário </th>
                </tr>
              </thead>
              <tbody>
                {% for member in form.order_items %}
                <tr>
                    <td> {{ member.item(readonly="readonly") }} </td>
                    <td> {{ member.quantity }} </td>
                    <td> {{ member.unity }} </td>
                    <td> {{ member.unit_price }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>

        <div class="form-group">
            {{ form.timestamp.label(class='control-label') }}
            <br>
            {{ form.timestamp(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.freight_company.label(class='control-label') }}
            <br>
            {{ form.freight_company(class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.freight_value.label(class='control-label') }}
            <br>
            {{ form.freight_value(value=0, class='form-control') }}
        </div>

        <div class="form-group">
            {{ form.obs.label(class='control-label') }}
            <br>
            {{ form.obs(value=0, class='form-control') }}
        </div>


        <p>
          <input type="submit" value="Cadastrar">
          <a class="btn" href="{{ url_for('index') }}">Cancelar</a>
        </p>

    </form>
</div>

{% endblock %}
