{% extends "base.html" %}

{% block app_content %}

<h1> {{title}}</h1>

<div>
    <form action="" method="post">

      {# http://flask.pocoo.org/snippets/3/ #}
      {{ form.hidden_tag() }}

      <div class="form-group">
          {{ form.name.label(class='control-label') }}
          <br>
          {{ form.name(class='form-control') }}
      </div>

      <div class="form-group">
          {{ form.address.label(class='control-label') }}
          <br>
          {{ form.address(class='form-control') }}
      </div>

      <div class="form-group">
          {{ form.contacts.label(class='control-label') }}
          <br>
          {{ form.contacts(class='form-control') }}
      </div>

      <div class="form-group">
        {{ form.portfolio.label }}
        <br>

        <div class="row">
          {% for item in form.portfolio %}
            <div class="col-sm-3"> {{ item }} {{ item.label }} </div>
          {% endfor %}
        </div>
      </div>

        <p>
          <input type="submit" value="Cadastrar">
          <a class="btn" href="{{ url_for('index') }}">Cancelar</a>
        </p>

    </form>
</div>

{% endblock %}
